<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="project">
        <div class="title"><span>My Projects</span></div>
        <div class="quiz-box" id="quiz">
          <div class="quiz-content">
            <div class="title"><span>Interactive Quiz</span></div>
            <p>Here you can test your knowledge </p>
            <div class="button">
              <a href="Interactive_Quizzes.html"><button>Take the Quiz</button></a>
            </div>
          </div>
        </div>
        <div class="blog-box" id="blog">
          <div class="content">
            <div class="title"><span>Blog Posts | Article </span></div>
            <p class="p">Stay Updated with the latest articles on learning and technology!</p>
              <div id="blog-post" class="blog-posts">
                  <!-- Blog posts will be inserted here by blog.js -->
              </div>
              <div class="see-more-container">
                <a href="blogs.html" class="btn see-more-btn">See More</a>
              </div>
          </div>
        </div>
      </section>
</body>
</html>